.cards {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 500px;
	justify-content: space-around;
}

}
.card {
	display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 20px;
	flex-basis: 250px;
}
.card img {
  width: 150px;
  border-radius: 5px;
}

.card h3 {
  flex-grow: 1;
  padding: 0px auto;
}
