.container {
	width: 900px;
	margin: 0 auto;
}

@media (max-width: 1020px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 800px;
  }
}
@media (max-width: 820px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 600px;
  }
}
@media (max-width: 620px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 450px;
  }
}